---
layout: page
title: Projects
permalink: /projects/
---

<p>This page is under construction and I'll be adding more details soon but in the meantime here's a brief overview of what's to come.</p>

  	<article class="blog-post-small blog-post-content">
		<h3 id="website">This Website!</h3>
		<p>I built this using this <a href="http://pranavrajs.github.io/swift/" target="_blank">template</a> by <a href="https://github.com/pranavrajs/" target="_blank">Pranavrajs</a>, using Jekyll. I deploy using bundle onto <a href="https://gitlab.com/AnnaD/annadodson/" target="_blank">GitLab</a> where it's hosted. Check out the issues to see what features I want to add next.</p>
  	</article>

  	<article class="blog-post-small blog-post-content">
		<h3 id="project">Remote Pair Programming Web App</h3>
		<p>For my masters dissertation, I researched different learning techniques and built a web app for pair programming to support beginners starting out learning to code. Built in HTML5, JavaScript, NodeJS and using socket.io.</p>
		<p>The application allowed two people to log on and code together. They were presented with challenges aimed at beginners, a basic text area for code and a chat window to instant message each other. The editor was locked to only allow the driver to write code so the navigator had to review. Roles could be switched manually or on a timer so after x minutes, roles automatically switched. I was then able to compare if forcing the role switching evened out the contribution level between participnats. All data was logged in a text file which I then used Python3 to take the output and run statistical analysis on the results. 
		<p>I can't share the project due to university regulations but drop me a line and I'll be more than happy to talk you through it.</p>
  	</article>

  	<article class="blog-post-small blog-post-content">
		<h3 id="mp3">Android Music Player App</h3>
		<p>One of my modules last term was Mobile Device Programming where for the coursework I built a simple Android Music Player. I used the content provider, navigated permissions to access the device media and used a bound service to allow continued playback.</p>
		<p>This module was one of my favourites and one of the hardest, only students who knew java were allowed to take the module, I didn't know Java (still don't but still learning!) but I took the module anyway and worked extra hard to get a very proud high merit for the module. See the project on <a href="http://github.com/AnnaDodson/mobile-device-mp3" target="_blank"><span>Github</span> <i class="fa fa-github"></i></a>.</p>
  	</article>

  	<article class="blog-post-small blog-post-content">
		<h3 id="pyGame">Why did the Chicken Cross the Road?</h3>
		<p>For my programming module group work, we made a game in Python using Pygame. We redeveloped the arcade classic Frogger but re-marketed it to a chicken.</p>
		<p>My conributions included being bossy, the moving vehicles algorithm, the score board and leader board. See the project here <a href="http://github.com/AnnaDodson/the-game-changers" target="_blank"> <span>Github</span> <i class="fa fa-github"></i></a></p>
		<p>After this coursework I got a reputation for being a 'professor', being in my group was hard work but a gaurenteed high grade and I was then in demand for group work.</p>
  	</article>


<br>
Don't forget to check back soon for more details and some more exciting projects!
<br>
<br>
