{{ define "main"}}
    <main id="main">
      <div>
        <h1 style="text-align: center">🤷‍</h1>
        <h1 style="text-align: center">Page not found</h1>
        <h2 style="text-align: center">
            <a href="{{ "/" | relURL }}">↩ back home</a>
        </h2>
      </div>
    </main>
{{ end }}